repoPaths:
  leanix/*: ~/dev/*
prSections:
- title: My Pull Requests
  filters: is:open author:@me
- title: Human PR Needs Review
  filters: is:open review-requested:@me -author:app/renovate
- title: Involved
  filters: is:open involves:@me -author:@me
- title: Needs My Review
  filters: is:open review-requested:@me
issuesSections:
- title: My Issues
  filters: is:open author:@me
- title: Assigned
  filters: is:open assignee:@me
- title: Involved
  filters: is:open involves:@me -author:@me
defaults:
  preview:
    open: true
    width: 80
  prsLimit: 20
  issuesLimit: 20
  view: prs
  layout:
    prs:
      updatedAt:
        width: 7
      repo:
        width: 35
      author:
        width: 15
      assignees:
        width: 20
        hidden: true
      base:
        width: 15
        hidden: true
      lines:
        width: 16
    issues:
      updatedAt:
        width: 7
      repo:
        width: 15
      creator:
        width: 10
      assignees:
        width: 20
        hidden: true
  refetchIntervalMinutes: 30
keybindings:
  issues: []
  prs:
    - key: a
      command: >
        gh pr review {{.PrNumber}}
    - key: v
      command: >
        cd {{.RepoPath}} && 
        gh pr checkout {{.PrNumber}} &&
        idea .
repoPaths: {}
pager:
  diff: "delta"
